@media (max-width: 566px) {
  body {
    margin-top: 100px;
  }

  header {
    height: 80px;
  }

  .header-img {
    display: none;
  }

  .links-box {
    flex: 1;
    justify-content: space-between;
  }

  .nav-link {
    font-size: 15px;
  }

  .dark-pic {
    height: 32px;
    width: 32px;
  }

  .section-title {
    font-size: 21px;
  }

  .quote-box {
    width: 350px;
  }

  .quote-box p {
    font-size: 16px;
    line-height: 1cm;
    font-weight: 700;
  }

  .about-box2 {
    flex-direction: column;
    gap: 50px;
  }

  .about-box2a {
    width: 350px;
  }

  .intro-box {
    height: 650px;
  }

  .intro-title {
    font-size: 13px;
  }

  .intro {
    font-size: 11px;
    font-weight: 500;
  }

  .about-box4 {
    margin-left: 120px;
    margin-right: 120px;
  }

  .about-box4 p {
    font-size: 15px;
  }

  .skill-box {
    display: grid;
    grid-template-columns: 1fr;
  }

  .skill {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .about-box3 {
    flex-direction: column;
    gap: 30px;
  }

  .tabbed-btn {
    font-size: 18px;
    font-weight: bolder;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
  }

  .slider-container {
    max-width: 350px;
  }

  .slide-btn {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
  }

  #prev-btn {
    z-index: 999;
    left: -13px;
    /*display: none;*/
  }

  #next-btn {
    right: -18px;
  }

  .image {
    width: 400px;
    height: 450px;
    border-radius: 8px;
  }

  .image-p {
    width: 400px;
  }

  .discription-title {
    font-weight: 700;
    font-size: 20px;
  }

  .discription {
    font-weight: 500;
    font-size: 12px;
    line-height: 0.6cm;
  }

  .discription strong {
    font-size: 15px;
  }

  .contacts-box2 {
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    gap: 30px;
  }

  .contacts-box2a {
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contacts-box {
    align-items: center;
  }

  .contacts-box-a {
    width: 280px;
    gap: 5px;
  }

  .contacts-image {
    height: 24px;
    width: 24px;
    margin: 10px;
  }

  .contacts-p {
    font-size: 14px;
  }

  .mail-box {
    margin-bottom: 20px;
  }

  .mail-inputs {
    font-size: 12px;
    height: 25px;
    width: 230px;
  }

  .mail-inputs::placeholder {
    font-size: 12px;
  }

  .mail-btn {
    font-size: 12px;
    font-weight: 700;
  }

  .mail-box-form {
    width: 280px;
  }
}
