:root {
  --primary-color: rgb(253, 198, 208);
  --secondary-color: black;
  --primary-light-color: rgb(254, 205, 234);
  --secondary-dark-color: rgba(0, 0, 0, 0.852);
}

body {
  background-color: var(--primary-color);
  padding: 0;
  margin: 0;
  margin-top: 130px;
  font-family: sans-serif;
  padding-bottom: 1000px;
}

header {
  height: 110px;
  margin: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
  color: var(--primary-color);
  font-weight: bolder;
}

.header-img {
  height: 110px;
  width: 320px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.header-img p {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

.dev-pic {
  height: 110px;
  width: 110px;
  border-radius: 55px;
}

.links-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 30px;
  font-family: sans-serif;
}

.nav-item {
  transition: transform 0.15s;
}

.nav-item:hover {
  transform: translateY(-50%);
}

.dark-pic {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 650px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home::before {
  content: "";
  position: absolute;
  height: 650px;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
  background: url("images/bg-img/dark-quote1.jpeg") no-repeat center
    center/cover;
}

.section-title {
  display: flex;
  align-items: flex-start;
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 900;
  padding-top: 50px;
  padding-left: 80px;
}

.home-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 1000px;
  border: 1px solid black;
  margin-top: 60px;
  box-shadow: 3px 3px 10px black;
}

.quote-box p {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 30px;
  line-height: 2cm;
  font-weight: bolder;
  text-align: center;
  color: black;
}

.hidden {
  display: none;
}

.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.about-box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  gap: 50px;
}

.about-box2a {
  display: flex;
  align-items: center;
  height: 420px;
  width: 600px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(255, 77, 137);
  background-color: rgb(254, 205, 234);
  box-shadow: 2px 3px 10px rgb(255, 77, 137);
}

.profile-pic-box {
  justify-content: center;
}

.intro-box {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.intro-title {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.intro {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 700;
  line-height: 0.7cm;
  margin: 0;
  color: black;
}

.about-box4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 110px;
  margin-right: 105px;
  border-radius: 6px;
  border: 1px solid rgb(255, 77, 137);
  background-color: rgb(254, 205, 234);
  box-shadow: 2px 3px 10px rgb(255, 77, 137);
}

.about-box4 p {
  font-size: 20px;
  font-weight: bolder;
  color: black;
  margin-top: 10px;
}

.skill-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 50px;
  margin: 10px;
  padding: 10px;
}

.skill {
  font-size: 20px;
  font-weight: bolder;
  border: none;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: 2px 3px 10px rgb(255, 77, 137);
}

.about-box3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 20px;
}

.tabbed-btn {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 30px;
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
  color: black;
  background-color: rgb(255, 77, 137);
  box-shadow: 3px 3px 5px var(--secondary-dark-color);
  transition: background-color 0.15s;
}

.tabbed-btn a {
  text-decoration: none;
  color: black;
}

.tabbed-btn:active,
.tabbed-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.projects {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.projects-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.slider-container {
  position: relative;
  max-width: 1200px;
  width: 90%;
}

.slide-btn {
  position: absolute;
  top: 50%;
  padding: 4px;
  height: 50px;
  width: 50px;
  font-size: 35px;
  font-weight: bolder;
  color: black;
  background-color: rgb(255, 77, 137);
  border: none;
  border-radius: 25px;
  transform: translateY(-50%);
  cursor: pointer;
  box-shadow: 3px 3px 5px var(--secondary-dark-color);
  transition: background-color 0.15s;
}

.slide-btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#prev-btn {
  z-index: 999;
  left: -18px;
  /*display: none;*/
}

#next-btn {
  right: -18px;
}

.images-box {
  display: grid;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(12, 1fr);
}
.images-box::-webkit-scrollbar {
  display: none;
}

.image {
  width: 593.5px;
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid rgb(255, 77, 137);
  background-color: rgb(254, 205, 234);
  box-shadow: 2px 3px 10px rgb(255, 77, 137);
}

.image-p {
  width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discription-title {
  font-weight: 900;
  font-size: 25px;
  color: black;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.discription {
  font-weight: 700;
  font-size: 16.5px;
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0;
  text-align: center;
  line-height: 0.6cm;
  margin-top: 10px;
  margin-bottom: 10px;
}

.discription strong {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.contacts-box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.contacts-box2a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.contacts-box-a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
