:root {
  --primary-color: rgb(253, 198, 208);
  --secondary-color: black;
}

body {
  background-color: var(--primary-color);
  padding: 0;
  margin: 0;
  margin-top: 130px;
  font-family: sans-serif;
}

header {
  height: 110px;
  margin: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
  color: var(--primary-color);
  font-weight: bolder;
}

.header-img {
  height: 110px;
  width: 320px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.header-img p {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

.dev-pic {
  height: 110px;
  width: 110px;
  border-radius: 55px;
}

.links-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 30px;
  font-family: sans-serif;
}

.nav-item {
  transition: transform 0.4s;
}

.nav-item:hover {
  transform: translateY(-50%);
}

.dark-pic {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 650px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--secondary-color);
}

.home::before {
  content: "";
  position: absolute;
  height: 650px;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
  background: url("images/bg-img/dark-quote1.jpeg") no-repeat center
    center/cover;
}

.home-box1 {
  display: flex;
  align-items: flex-start;
  color: black;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 50px;
  padding-left: 80px;
}

.home-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 1000px;
  border: 1px solid black;
  margin-top: 60px;
  box-shadow: 3px 3px 10px black;
}

.quote-box p {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 30px;
  line-height: 2cm;
  font-weight: bolder;
  text-align: center;
  color: black;
}

.hidden {
  display: none;
}

.about {
  border-bottom: 1px solid black;
}
