:root {
  --primary-color: rgb(253, 198, 208);
  --secondary-color: black;
  --primary-light-color: rgb(254, 205, 234);
  --secondary-dark-color: rgba(0, 0, 0, 0.852);
}

body {
  background-color: var(--primary-color);
  padding: 0;
  margin: 0;
  margin-top: 130px;
  font-family: sans-serif;
}

header {
  height: 110px;
  margin: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
  color: var(--primary-color);
  font-weight: bolder;
}

.header-img {
  height: 110px;
  width: 320px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.header-img p {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

.dev-pic {
  height: 110px;
  width: 110px;
  border-radius: 55px;
}

.links-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 30px;
  font-family: sans-serif;
}

.nav-item {
  transition: transform 0.15s;
}

.nav-item:hover {
  transform: translateY(-50%);
}

.dark-pic {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 650px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home::before {
  content: "";
  position: absolute;
  height: 650px;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
  background: url("images/bg-img/dark-quote1.jpeg") no-repeat center
    center/cover;
}

.section-title {
  display: flex;
  align-items: flex-start;
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 900;
  padding-top: 50px;
  padding-left: 80px;
}

.home-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 1000px;
  border: 1px solid black;
  margin-top: 60px;
  box-shadow: 3px 3px 10px black;
}

.quote-box p {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 30px;
  line-height: 2cm;
  font-weight: 900;
  text-align: center;
  color: black;
}

.hidden {
  display: none;
}

.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.about-box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  gap: 50px;
}

.about-box2a {
  display: flex;
  align-items: center;
  height: 420px;
  width: 600px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(255, 77, 137);
  background-color: rgb(254, 205, 234);
  box-shadow: 2px 3px 10px rgb(255, 77, 137);
}

.profile-pic-box {
  justify-content: center;
}

.intro-box {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.intro-title {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.intro {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 700;
  line-height: 0.7cm;
  margin: 0;
  color: black;
}

.about-box4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 110px;
  margin-right: 105px;
  border-radius: 6px;
  border: 1px solid rgb(255, 77, 137);
  background-color: rgb(254, 205, 234);
  box-shadow: 2px 3px 10px rgb(255, 77, 137);
}

.about-box4 p {
  font-size: 20px;
  font-weight: 900;
  color: black;
  margin-top: 10px;
}

.skill-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 10px;
  padding: 10px;
}

.skill {
  font-size: 20px;
  font-weight: bolder;
  border: none;
  text-align: center;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: 2px 3px 10px rgb(255, 77, 137);
}

.about-box3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 20px;
}

.tabbed-btn {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 30px;
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
  color: black;
  background-color: rgb(255, 77, 137);
  box-shadow: 3px 3px 5px var(--secondary-dark-color);
  transition: background-color 0.15s;
}

.tabbed-btn a {
  text-decoration: none;
  color: black;
}

.tabbed-btn:active,
.tabbed-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.projects {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.projects-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.slider-container {
  position: relative;
  max-width: 1200px;
  width: 90%;
}

.slide-btn {
  position: absolute;
  top: 50%;
  padding: 4px;
  height: 50px;
  width: 50px;
  font-size: 35px;
  font-weight: bolder;
  color: black;
  background-color: rgb(255, 77, 137);
  border: none;
  border-radius: 25px;
  transform: translateY(-50%);
  cursor: pointer;
  box-shadow: 3px 3px 5px var(--secondary-dark-color);
  transition: background-color 0.15s;
}

.slide-btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#prev-btn {
  z-index: 999;
  left: -18px;
  /*display: none;*/
}

#next-btn {
  right: -18px;
}

.images-box {
  display: grid;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(12, 1fr);
}
.images-box::-webkit-scrollbar {
  display: none;
}

.image {
  width: 593.5px;
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid rgb(255, 77, 137);
  background-color: rgb(254, 205, 234);
  box-shadow: 2px 3px 10px rgb(255, 77, 137);
}

.image-p {
  width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discription-title {
  font-weight: 900;
  font-size: 25px;
  color: black;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.discription {
  font-weight: 700;
  font-size: 16.5px;
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0;
  text-align: center;
  line-height: 0.6cm;
  margin-top: 10px;
  margin-bottom: 10px;
}

.discription strong {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 20px;
}

.contacts-box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-color);
  margin-left: 200px;
  margin-right: 200px;
  gap: 80px;
}

.contacts-box2a {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  height: 500px;
}

.contacts-box {
  width: 550px;
  gap: 50px;
  align-items: flex-start;
  justify-content: center;
}

.contacts-box-a {
  width: 450px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid rgb(255, 77, 137);
  background-color: rgb(254, 205, 234);
  box-shadow: 2px 2px 10px rgb(255, 77, 137);
}

.contacts-image {
  height: 40px;
  width: 40px;
  margin: 20px;
}

.contacts-p {
  font-size: 25px;
  font-weight: 700;
  color: black;
  margin-right: 20px;
}

.mail-box {
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

.mail-box-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 380px;
  width: 350px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid rgb(255, 77, 137);
  background-color: rgb(254, 205, 234);
  box-shadow: 2px 2px 10px rgb(255, 77, 137);
}

.mail-inputs {
  border: none;
  height: 30px;
  width: 250px;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.mail-inputs:focus {
  border: 2px solid rgb(255, 77, 137);
}

.mail-inputs::placeholder {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;
}

.mail-box-form textarea {
  height: 80px;
  resize: none;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mail-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(255, 77, 137);
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  color: black;
  box-shadow: 3px 3px 5px black;
  transition: background-color 0.15s;
}

.mail-btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 815px) and (max-width: 1337px) {
  body {
    margin-top: 110px;
  }

  header {
    height: 90px;
  }

  .header-img {
    height: 90px;
    width: 280px;
  }

  .header-img p {
    font-size: 20px;
  }

  .dev-pic {
    height: 90px;
    width: 90px;
    border-radius: 45px;
  }

  .nav-link {
    font-size: 20px;
  }

  .dark-pic {
    height: 38px;
    width: 38px;
  }

  .section-title {
    font-size: 25px;
  }

  .quote-box {
    width: 800px;
  }

  .quote-box p {
    font-size: 25px;
    line-height: 1.5cm;
  }

  .about-box4 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .about-box2 {
    flex-direction: column;
    gap: 50px;
  }

  .skill-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .tabbed-btn {
    font-size: 25px;
    font-weight: bolder;
  }

  .slider-container {
    max-width: 615px;
  }

  .contacts-box2 {
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    gap: 30px;
  }

  .contacts-box2a {
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contacts-box {
    align-items: center;
  }

  .mail-box {
    margin-bottom: 20px;
  }

  .mail-box-form {
    width: 450px;
  }
}

@media (min-width: 567px) and (max-width: 814px) {
  body {
    margin-top: 110px;
  }

  header {
    height: 90px;
  }

  .header-img {
    display: none;
  }

  .links-box {
    flex: 1;
    justify-content: space-between;
  }

  .nav-link {
    font-size: 20px;
  }

  .dark-pic {
    height: 38px;
    width: 38px;
  }

  .section-title {
    font-size: 25px;
  }

  .quote-box {
    width: 500px;
  }

  .quote-box p {
    font-size: 20px;
    line-height: 1cm;
    font-weight: 700;
  }

  .about-box2 {
    flex-direction: column;
    gap: 50px;
  }

  .about-box2a {
    width: 400px;
  }

  .intro-box {
    height: 600px;
  }

  .intro-title {
    font-size: 15px;
  }

  .intro {
    font-weight: 500;
  }

  .about-box4 {
    margin-left: 80px;
    margin-right: 80px;
  }

  .skill-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .skill {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .about-box3 {
    gap: 20px;
  }

  .tabbed-btn {
    font-size: 18px;
    font-weight: bolder;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
  }

  .slider-container {
    max-width: 400px;
  }

  .slide-btn {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
  }

  #prev-btn {
    z-index: 999;
    left: -13px;
    /*display: none;*/
  }

  #next-btn {
    right: -18px;
  }

  .image {
    width: 400px;
    height: 450px;
    border-radius: 8px;
  }

  .image-p {
    width: 400px;
  }

  .discription-title {
    font-weight: 700;
    font-size: 20px;
  }

  .discription {
    font-weight: 500;
    font-size: 12px;
    line-height: 0.6cm;
  }

  .discription strong {
    font-size: 15px;
  }

  .contacts-box2 {
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    gap: 30px;
  }

  .contacts-box2a {
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contacts-box {
    align-items: center;
  }

  .contacts-box-a {
    width: 320px;
    gap: 5px;
  }

  .contacts-image {
    height: 30px;
    width: 30px;
    margin: 10px;
  }

  .contacts-p {
    font-size: 18px;
  }

  .mail-box {
    margin-bottom: 20px;
  }

  .mail-inputs {
    font-size: 14px;
  }

  .mail-inputs::placeholder {
    font-size: 14px;
  }

  .mail-btn {
    font-size: 15px;
    font-weight: 700;
  }

  .mail-box-form {
    width: 320px;
  }
}

@media (max-width: 566px) {
  body {
    margin-top: 100px;
  }

  header {
    height: 80px;
  }

  .header-img {
    display: none;
  }

  .links-box {
    flex: 1;
    justify-content: space-between;
  }

  .nav-link {
    font-size: 15px;
  }

  .dark-pic {
    height: 32px;
    width: 32px;
  }

  .section-title {
    font-size: 21px;
  }

  .quote-box {
    width: 350px;
  }

  .quote-box p {
    font-size: 16px;
    line-height: 1cm;
    font-weight: 700;
  }

  .about-box2 {
    flex-direction: column;
    gap: 50px;
  }

  .about-box2a {
    width: 350px;
  }

  .intro-box {
    height: 650px;
  }

  .intro-title {
    font-size: 13px;
  }

  .intro {
    font-size: 11px;
    font-weight: 500;
  }

  .about-box4 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .about-box4 p {
    font-size: 15px;
  }

  .skill-box {
    display: grid;
    grid-template-columns: 1fr;
  }

  .skill {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .about-box3 {
    flex-direction: column;
    gap: 30px;
  }

  .tabbed-btn {
    font-size: 18px;
    font-weight: bolder;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
  }

  .slider-container {
    max-width: 350px;
  }

  .slide-btn {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
  }

  #prev-btn {
    z-index: 999;
    left: -13px;
    /*display: none;*/
  }

  #next-btn {
    right: -18px;
  }

  .image {
    width: 350px;
    height: 450px;
    border-radius: 8px;
  }

  .image-p {
    width: 350px;
  }

  .discription-title {
    font-weight: 700;
    font-size: 20px;
  }

  .discription {
    font-weight: 500;
    font-size: 12px;
    line-height: 0.6cm;
  }

  .discription strong {
    font-size: 15px;
  }

  .contacts-box2 {
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    gap: 30px;
  }

  .contacts-box2a {
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contacts-box {
    align-items: center;
  }

  .contacts-box-a {
    width: 280px;
    gap: 5px;
  }

  .contacts-image {
    height: 24px;
    width: 24px;
    margin: 10px;
  }

  .contacts-p {
    font-size: 14px;
  }

  .mail-box {
    margin-bottom: 20px;
  }

  .mail-inputs {
    font-size: 12px;
    height: 25px;
    width: 230px;
  }

  .mail-inputs::placeholder {
    font-size: 12px;
  }

  .mail-btn {
    font-size: 12px;
    font-weight: 700;
  }

  .mail-box-form {
    width: 280px;
  }
}
